<h3 class="heading">{{category}} Articles</h3>

<div ng-controller="ArticlesCategoryCtrl">
  <a href="#/categories">Go Back</a>
  <div class="row">
    <div class="articles">
      <div ng-repeat="article in cat_articles">
        <div class="col-sm-12 article">
          <h4>{{article.title}}</h4>
          <p>{{article.body | limitTo: 200}}</p>
          <a class="btn btn-default btn-block" href="#/articles/details/{{article._id}}">More Details</a>
        </div>
      </div>
      <div ng-if="articles == false">
        No Articles to Display
      </div>
    </div>
  </div>
</div>
